extends layouts/common
block content
        nav.navbar.navbar-light.bg-light
            .container-fluid
                a.navbar-brand(href='#')
                    img.d-inline-block.align-text-top.d-flex(src='../img/logo.png' alt='' width='30' height='24') 
                    p(class="logo_nav") Bootstrap
